{% extends 'layout.html' %}

{% block title %} {{ user.username }} {% endblock %}

{% block head %}

{% endblock %}

{% block body %}
{% csrf_token %}
<div class="prof-head">
    <div class="userside">
        <img src="{{ profuser.ppic.url }}" id="prof-img">
        <div class="nameside">
            <span id="un">{{ profuserinfo.owner.username }}</span><br>
            <span id="profpoints"> <b>{{ profuserinfo.points }}</b> Points</span><br>
        </div>
    </div>
     <div class="prof-info">
         <div class="top">
             {% if user.is_authenticated %}
                {% if user == profuserinfo.owner %}
                <button class="btn btn-primary" id="editbtn" onclick="location.href='{% url 'edit' %}'">Edit Profile</button>
                <!-- <i class="fas fa-cog"></i> -->
                {% else %}
                {% if not followed %}
                <button class="btn btn-primary" id="followbtn" onclick="follow('{{profuserinfo.owner.username}}', '{{thisuserinfo.owner.username}}')">Follow</button>
                <button class="btn btn-primary" id="unfollowbtn" style = "display: none" onclick="unfollow('{{profuserinfo.owner.username}}', '{{thisuserinfo.owner.username}}')">Unfollow</button>
                <br>
                {%  else %}
                <button class="btn btn-primary" id="unfollowbtn" onclick="unfollow('{{profuserinfo.owner.username}}', '{{thisuserinfo.owner.username}}')">Unfollow</button>
                <button class="btn btn-primary" id="followbtn" style = "display: none" onclick="follow('{{profuserinfo.owner.username}}', '{{thisuserinfo.owner.username}}')">Follow</button>    
                <br>       
                {% endif %}
                {% endif %}
            {% else %}
                <p>Login or Sign up to follow this user.</p>
            {% endif %}
             
         </div>
         <div class="counts">
        {% if noftaken == 1 %}
            <span id="postcount"> <b>{{ noftaken }}</b> Quiz Taken</span><br>
        {% else %}
            <span id="postcount"> <b>{{ noftaken }}</b> Quizzes Taken</span><br>
        {% endif %}

        {% if quizcount == 1 %}
             <span id="postcount"> <b>{{ quizcount }}</b> Quiz Created</span><br>
        {% else %}
            <span id="postcount"> <b>{{ quizcount }}</b> Quizzes Created</span><br>
        {% endif %}
             <span id="flwcount"> <b>{{ followercount }}</b> followers</span><br>
             <span id="flwingcount"> <b>{{ followingcount }}</b> following</span><br>
         </div>
     </div>
 </div>
<hr>
 <div class="prof-body">
    {% for quiz in userquizzes %}
        <div class="quizcontainerprof" onclick="location.href='../../quiz/{{ quiz.name }}'">
            <div class="firstcol">
                <h4 class="quizname">{{quiz.name}}</h4>
                {% if quiz.description %}
                    <p class="quizdesc">
                        <b>Description:</b><br>
                        {{quiz.description}}
                    </p>
                {% endif %}
                <p class="quizby"><b>By: </b><img class="quizpic" src="{{ quiz.owner.ppic.url }}"> {{quiz.owner.username}}</p>
                <p class="quizdate"><b>Posted {{quiz.get_date}}</p>
            </div>
            <div class="seccol">
                <p class="quiznumber"><b>Number of questions: </b>{{quiz.n_ofquestions}}</p>
                <p class="quizpoints"><b>Total Points: </b>{{ quiz.totalpoints }}</p>

                {% if quiz.totaltime > 0 %}
                    <p class="quizpoints"><b>Time To Beat:  </b> {{quiz.totaltime}}s</p>
                {% endif %}
            </div>
        </div>
    {% endfor %}
 </div>

 <div id="sentinel"></div>
 <div id="homemodal" class="modal">
    <div class="modal-content" id="details">
        <p>End</p>
      </div>
 </div>

 
{% endblock %}